appnope==0.1.3
astroid==2.12.13
asttokens==2.2.1
attrs==22.1.0
backcall==0.2.0
blinker==1.5
click==8.0.1
decorator==5.1.1
dill==0.3.6
distlib==0.3.6
exceptiongroup==1.0.4
executing==1.2.0
filelock==3.8.2
Flask==2.2.2
Flask-SQLAlchemy==2.5.1
iniconfig==1.1.1
ipython==8.7.0
isort==5.10.1
itsdangerous==2.0.1
jedi==0.18.2
Jinja2==3.0.1
lazy-object-proxy==1.8.0
MarkupSafe==2.1.2
matplotlib-inline==0.1.6
mccabe==0.7.0
packaging==22.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==2.6.0
pluggy==1.0.0
prompt-toolkit==3.0.36
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.13.0
pylint==2.15.8
pytest==7.2.0
six==1.16.0
SQLAlchemy==1.4.18
stack-data==0.6.2
tomli==2.0.1
tomlkit==0.11.6
traitlets==5.7.0
virtualenv==20.17.1
wcwidth==0.2.5
Werkzeug==2.2.2
wrapt==1.14.1
