<head>
    <link ref="stylesheet" href="/static/css/styles.css">
    <title>
        {{ data["name"] }}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        html, body {
        margin: 0;
        width: 100%;
        height: 100%;
        }
        .map,
        #map {
        width: 100%;
        height: 100%;
        }
    </style>
    

</head>

<body>
    <div class="container-fluid" id="top-page">
        <!--Row/nav bar on top of all pages-->
        <div class="row">
    
          <div class="col-2">
            <a href="/">Home(CSS home icon)</a>
          </div>
    
          {% if "user" not in session %}
            <div class="col-2">
              <a href="/new_account">Create Account</a>
            </div>
          {% else %}
            <div class="col-2">
              <a href="/user_profile">My Profile</a>
            </div>
            
            <div class="col-2">
              <a href="/view_user_reviews">My Reviews</a>
            </div>
    
            <div class="col-2">
              <a href="/logout">Logout</a>
            </div>
          {% endif %}
          
          <div class="col-2">
            <a href="/help">Help</a>
          </div> 
        </div>
        
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                {% if category =="error" %}
                  <div class="alert alert-danger alter-dismissable fade show" role="alert" >
                  {{ message }}
                  </div>
                {% else %}
                  <div class="alert alert-success alter-dismissable fade show" role="alert" >
                  {{ message }}
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
    <h2>{{ data["name"] }}</h2>

        <img src='{{ data["images"][4]["url"] }}'>

        {% if "description" in data %}
            <p>Event Description:</br>
            {{ data["description"] }}</p>
        {% elif "info" in data %}
            <p>Event Description:</br>
            {{ data["info"] }}</p>
        {% endif %}

        <p>Event Genre:</br>
        {% if "classifications" in data %}
            {{ data["classifications"][0]["genre"]["name"] }}</p>
        {% else %}
            Undefined.</p>
        {% endif %}
    
        <p>Event Start Date:</br> 
            {{ data["dates"]["start"]["localDate"] }} at {{ data["dates"]["start"]["localTime"]}} Local Time
        </p>

        <p>Event Location:</br> 
            {{ event[0]["name"] }}
        </p>

        {% if "seatmap" in data %}
            <p>Seat Map: <img src='{{ data["seatmap"]["staticUrl"] }}'></p>
        {% endif %}
    
    <input type="hidden" id="map_lat" name="map-lat" value='{{ event[0]["location"]["latitude"] }}'>
    <input type="hidden" id="map_lng" name="map-lng" value='{{ event[0]["location"]["longitude"] }}'>
        <p>
            Event Address: {{ event[0]["address"]["line1"] }}, {{ event[0]["city"]["name"] }}, {{ event[0]["state"]["name"] }} {{ event[0]["postalCode"]}}
        </p>

        {% if "priceRanges" in data %}
            {% if data["priceRanges"][0]["min"] == data["priceRanges"][0]["max"] %}
                <p>Price Range(*not including tax and fees): ${{ data["priceRanges"][0]["max"] }}</p>
            {% else %}
                <p>Price Range(*not including tax and fees): ${{ data["priceRanges"][0]["min"] }} - ${{ data["priceRanges"][0]["max"] }}
            {% endif %}
        {% endif %}
    
        <p>Purchase Event Ticket:</br> 
            <a href='{{ data["url"] }}' target="_blank">Tickemaster</a>
            {% if "outlets" in data %}
                Or <a href='{{ data["outlets"][0]["url"] }}'>Box Office Site</a>
            {% endif %}
        </p>

        <p>For More Information/Questions: </br>
            {% if "ada" in data %}
                {{ event[0]["ada"]["adaCustomCopy"] }}</p>
            {% elif "pleaseNote" in data %}
                {{ data["pleaseNote"] }}</p>
            {% elif "outlets" in data %}
                Visit <a href='{{ data["outlets"][0]["url"] }}'>{{ data["outlets"][0]["url"] }}</a></p>
            {% else %}
                Not available.
            {% endif %}
        </p>

        <div id="gMap">
            <h4>Map! (right hand side on page; Bootstrap, CSS)</h4>
                <section class="map">
                    <div id="map"></div>
                </section>
        </div>


    {% if "user" not in session %}
        <p>Must first sign in to get access to the reviews.
            <a href="/new_account" target="_blank">Creat an Account</a> rr
            <a href="/">Sign In(Pull the user back to the top nav bar at the same page)</a>
        </p>
    {% else %}   
        <form action="/event/{{ event_id }}/review" id="review-form" method="POST">
        <input type="hidden" id="event-id" name="event-id" value='{{ event_id }}'>
            <p>Create review: (right col=6 , Bootstrap)</p>
                <div>
                    <label class="form-label above" for="rating">Rating: (1-5 stars)</label>
                    <input id="rating-score" class="form-control" type="number" name="rating" min="1" max="5" placeholder="Enter rating (1-5)" required> 
                    <!--Add CSS stars HERE-->
                </div>
        
                <div>
                    <label class="form-label above" for="review-title">Review Title:</label>
                    <input id="review-title" class="form-control" type="text" name="title" placeholder="Enter the title for this review" required> 
                </div>
        
                <div>
                    <label class="form-label above" for="review-description">Review:</label>
                    <input id="review-description" class="form-control" type="text" name="review" rows="5" cols="50" placeholder="Enter review here" required>
                </div>
        
                <div>
                    <label class="form-label above" for="recommendation">Would you recommend this event to others?</label>
                    <input type="radio" id="yes-no" name="recommendation" value="yes" required>
                        <label for="yes">Yes</label>
                    <input type="radio" id="yes-no" name="recommendation" value="no" required>
                        <label for="no">No</label>
                </div>
        
                <div class="col-3">
                    <input type="submit" value="Submit Review" id="submit">
                </div>
        </form>

 
        <p>All Reviews: (Bootstrap;Left, col=6) + Rank reviews by highest rating/lowest rating/most recent date(2.0/3.0)</p>
            {% if not reviews_in_event %}
                <p>No written reviews yet. </p>
            {% endif %}
        
            {% for review in reviews_in_event %}
                <li type="1" class="review-list" id="full-review">
                    <div>
                    Written By: User {{ review.user_id }}</br>
                    Date: {{ review.review_date }}</br>
                    Title: <span id="title_{{ review.review_id }}">{{ review.review_title }}</span></br>
                    Event Score: <span id="rating_{{ review.review_id }}">{{ review.rating_score }}</span></br>
                    Description: <span id="description_{{ review.review_id }}">{{ review.review_description }}</span></br>
                    <span id="recommend_{{ review.review_id }}">
                        {% if review.review_recommend %}
                        Recommendation: Yes
                        {% else %}
                        Recommendation: No
                        {% endif %}
                    </span>
                    
                    {% if session["user"]== review.user_id %}
                        <button onClick="show_edit_form()">Edit</button>
                    
                        <div id="show-edit-form" hidden>
                            <form id="edit-review-form" method="POST">
                                <input type="hidden" id="edit-review-id" value='{{ review.review_id }}'>
                                <input type="hidden" id="event-id" name="event-id" value='{{ event_id }}'>
                                Edit Your Review:
                                    <div>
                                        <label class="form-label above" for="rating">Rating: (1-5 stars)</label>
                                        <input id="edit-rating-score" class="form-control" type="text" name="rating" placeholder="Enter rating (1-5)" required> 
                                    </div>
                            
                                    <div>
                                        <label class="form-label above" for="review-title">Review Title:</label>
                                        <input id="edit-review-title" class="form-control" type="text" name="title" placeholder="Enter the title for this review" required> 
                                    </div>
                            
                                    <div>
                                        <label class="form-label above" for="review-description">Review:</label>
                                        <input id="edit-review-description" class="form-control" type="text" name="review" rows="5" cols="50" placeholder="Enter review here" required>
                                    </div>
                            
                                    <div>
                                        <label class="form-label above" for="recommendation">Would you recommend this event to others?</label>
                                        <input type="radio" id="edit-yes-no" name="recommendation" value="true" required>
                                            <label for="yes">Yes</label>
                                        <input type="radio" name="recommendation" value="false" required>
                                            <label for="no">No</label>
                                    </div>
                            
                                    <div class="col-3">
                                        <input type="submit" value="Update" id="update-submit">   
                                    </div>
                            </form>
                            <button id="cancel-submit">Cancel</button>
                        </div>
                    {% endif %}
                    </div>
            {% endfor %}
            {% endif %}

        


    <script src="/static/js/edit_review.js"></script>
    <script src="/static/js/gMap.js"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByH1t-H-7MgU-yqWU2hCAOBIDHDeQjop4&callback=initMap"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>