{% extends 'base.html' %}

{% block title %}Event Detail{% endblock %}

{% block content %}
<h1>(Event title)</h1>
<p>src img: (change size)</p>
<p>event description:()</p>
<p>event genre</p>
<p>event date:()</p>
<p>event location:()</p>
<p>link to purchase ticket(if any):()</p>
<p>Create review:AJAX?pop-up box?</p>
<p>review/rating:()</p>
<p>rank reviews by highest rating/lowest rating/most recent date</p>

<div>google map on right hand side (Bootstrap)</div>
<p>Return to search_results.html page</p>
{% endblock %}