{% extends 'base.html' %}
{% block title %}Events Homepage{% endblock %}

{% block content %}
{% if "user" in session %}
  <h3 align="center">Welcome To Event Homepage</h3>
        <div class="slideshow-container">
          {% for result in results %}    
            <div align="center" class="eventSlides">
              <a href="/event/{{ result["id"] }}">
                <img src={{ result["images"][0]["url"] }} style="width:60%">
                </a>
              <div class="botom-left">{{ result["name"] }}</div>  
            </div>
          {% endfor %} 
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
      <br>

      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
      </div>
    <br>
{% endif %}

<div id="search-section">
  <br>
    <div class="container-fluid col-8">
      <h4 align="center"><strong>Search For Events</strong></h4>
      <form action="/search">
        <div class="row">
          <label for="search-keyword"></label>
          <input id="search-keyword" class="form-control" type="text" name="keyword" placeholder="Search Event By Keyword(s)"> 
        </div>

        <div class="row">
          <div class="col-3">
            <label for="search-zip">Zip Code:</label>
              <input id="search-zip" class="form-control" type="text" name="zipcode" placeholder="Enter Zipcode">
          </div>

          <div class="col-3">
            <label for="search-radius">Distance Radius:</label>
              <select class="form-control form-select" name="unit">
                <option value="10">10 miles</option>
                <option value="15">15 miles</option>
                <option value="20">20 miles</option>
                <option value="25">25 miles</option>
              </select>
          </div>

          <div class="col-4">
            <label for="search-sort-by">Sort By:</label>
            <select id="search-sort-by" class="form-control form-select" name="sort">
              <option value="date,asc">Date</option>
              <option value="relevance,asc">Relevance</option>
            </select>
          </div>
        
          <div class="col-2">
            <input type="submit" value="Search">
          </div>

        </div>
      </form> 
    </div>
    <br>
    </div>
  

</div>
<script src="/static/js/slide_show.js"></script>
{% endblock %}
