{% extends 'base.html' %}
{% block title %}Events Homepage{% endblock %}

{% block content %}
  <h3 align="center">Welcome To Event Homepage</h3>

<div class="row">
  {% if "user" not in session %}
  <div class="col-12 col-md-3">
    <h4 align="center">Log In:</h4>
      <form action="/" method="POST">
        <div>
        <label class="form-label above" for="email">Email Address:</label>
        <input type="text" name="email" placeholder="Enter email">
      </div>

      <div>
      <label class="form-label above" for="password">Password:</label>
      <input type="password" name="password" placeholder="Enter password">
      </div>

      <div class="row mt3">
        <div class="col-3">
        <input type="submit" value="Log In">
        </div>
      </div>

        <a href="/new_account">Create New Account</a>
      </form>    
  </div>

  {% else %}
  <div class="col-12 col-md-3">
    <form action="/logout" method="POST">
      <h4>Profile:</h4>
        <div>
        <label class="form-label above" for="greeting">Hello! {{ "fname" }}</label>
        </div>
        
        <div>
        <input type="submit" value="Log Out">
        </div>
    </form>
  </div>
  {% endif %}
</div>

<div class="row">
  <div class="col-12 col-md-7">
    <form action="/search">
    <h4 align="center">Search For Events</h4>
        <div class="row-2">
          <label class="form-label above" for="search-keyword">Search Keyword</label>
          <input id="search-keyword" class="form-control" type="text" name="keyword" placeholder="Enter keyword"> 
        </div>

        <div class="row">
          <div class="col-6">
            <label class="form-label above" for="search-zip">Zip Code</label>
              <input id="search-zip" class="form-control" type="text" name="zipcode" placeholder="Enter zipcode">
          </div>

          <div class="col-6">
            <label class="form-label above" for="search-radius">Distance Radius</label>
              <select class="form-control form-select" name="unit">
                <option value="10">10 miles</option>
                <option value="15">15 miles</option>
                <option value="20">20 miles</option>
                <option value="25">25 miles</option>
              </select>
        </div>

        <div class="col">
          <label class="above" for="search-sort-by">Sort by</label>
          <select id="search-sort-by" class="form-control form-select" name="sort">
            <option value="date,asc">Date</option>
            <option value="relevance,asc">Relevance</option>
          </select>
        </div>

        <div class="row mt-3">
          <div class="col-3">
            <input type="submit" value="Search">
          </div>
        </div>
    </form> 
  </div>

</div>

{% endblock %}
