{% extends 'base.html' %}

{% block title %}My Reviews{% endblock %}

{% block content %}
<h1>{{ user.fname +" "+ user.lname }}'s Reviews:</h1>

<h4>My Reviews:</h4>
    {% if not reviews %}
        No written reviews.
    {% endif %}
        {% for review in reviews %}
            <li type="1" class="review-list">
                <div>
                    Event: 
                    <a href="/event/{{ review.event_id }}">{{ review.event.event_title }}</a></br>
                    Date: {{ review.review_date }}</br>
                    Title: {{ review.review_title }}</br>
                    Rating: {{ review.rating_score }}</br>
                    Review Description: {{ review.review_description }}</br>
                    {% if review.review_recommend %}
                        Recommendation: Yes
                    {% else %}
                        Recommendation: No
                    {% endif %}
                </div>
            </li>
    {% endfor %}

{% endblock %}